.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.header{
  width: 100%;
  height:10%;
}

.body{
  padding:0 8px;
  height: 85%;
  position: relative;
}

.footer{
  width: calc(100% - 16px);
  height:5%;
  padding:0 8px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.footer_button{
  border-radius: 6px;
  padding: 0.3rem 0.8rem;
  text-align: center;
  margin:0;
  cursor: pointer;
  color:gray;
  height: fit-content;
  transition: 0.3s;
}

.footer_button:hover{
  color:rgb(86, 59, 154);
  transition: 0.3s;
}

.footer_button_span:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: rgb(86, 59, 154);
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.footer_button:hover .footer_button_span:after {
  width: 100%;
  left: 0;
}

.footer_button_span {
  font-size: 14px;
  margin: 0;
  display: inline-block;
  position: relative;
}

.description {
  font-size: 14px;
  margin-bottom: 10px;
}

.info_wrapper{
  position: absolute;
  border: 1px solid rgb(86, 59, 154);
  left:140px;
  top:120px;
  padding: 10px;
}

.info_text{
  font-size: 15px;
  margin: 0;
}
.img_text{
  font-size: 12px;
  margin: 0;
}

.info_img{
  width:60px;
  height:120px;
  object-fit:cover;
  margin-bottom: 5px;
}

.img_wrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap:10px;
}

.info {
  width:20px;
  height:20px;
  margin-left: 10px;
}

img {
  width: 70%;
  height: auto;
  margin: 10px auto;
  margin-top: 0;
  padding-top: 10px;
  display: block;
  text-align: center;
}

body, html {
  width: 300px;
  height:460px;
  margin: 0;
}


.input_wrapper {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  font-size: 13px;
  margin-bottom: 0;
  color: rgb(86, 59, 154);
}

hr {
  border: 1px solid rgb(86, 59, 154);
  margin-bottom: 15px;
}



.switch {
  position: relative;
  display: inline-block;
  width: 190px;
  height: 35px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.label_inside {
  position: absolute;
  color:black;
  z-index: 99;
  pointer-events: none;
  cursor:none;
  top:8px;
  font-size: 13px;
  color:#726F6F;
}

#rect {
  left:7px;
}

#dot {
  left: 118px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: -1px;
  right: 0;
  bottom: -2px;
  border: 1px solid #726F6F;
  border-radius: 7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
position: absolute;
content: "";
height: 35px;
width: 95px;
left: 0;
bottom: 0;
border: 1px solid #563B9A;
background-color: #D0C0F9;
border-radius: 7px;
-webkit-transition: .4s;
transition: .4s;
}

.highlight {
  color: rgb(86, 59, 154);
}

input:checked + .slider:before {
-webkit-transform: translateX(95px);
-ms-transform: translateX(95px);
transform: translateX(95px);
}